@import url('https://fonts.googleapis.com/css?family=Poppins|Playfair:300');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: Playfair, sans-serif;
    color: #3a3a3a;
    background-color: #C9A9A6;
}

h1, h2{
    font-family: Poppins, serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/* Hero image and cover text */

#cover-text{
    height: 300px;
    width: 300px;
    float: left;
    font-size: 130%;
  font-family: Lato;
}

#hero-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image{
    height:600px;
    width: 100%;
    background: url("https://lh4.googleusercontent.com/G7tgDEhGCnZWcbaJrsRcBCMJajdJPfUOSjYCPsKbMMtIGxpgfg2qcBKzN05hGzLRAaw=w2400") no-repeat center center;

    /* Animates zoom effect on loading the page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* Library ethos */

#library-ethos{
    height: 600px;
}

#library-ethos h2 {
    color:#000;
    text-align: center;
}

#library-ethos hover {
    border-bottom: 1px solid #3a3a3a;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading p {
    text-align: right;
}

.right-about-heading h2 {
    text-align: right;
}

/* Library ethos center image */

#welcome {
    margin: 20px 0;
    text-align: center;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: #C9A9A6;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url("https://lh5.googleusercontent.com/3Q_XOO-XsOvWhj35_akowLpniFGzL0AIpUgk7UVCGgsydyAXz3Z2yfKw5qNMnv6NMRI=w2400") no-repeat center center;
    height: 100%;
    border-radius: 50%;
    zoom: 100%;
}

/* Events */
#events div {
    background-repeat: no-repeat;
    height: 500px;
    width: 30%;
    float: left;
    text-align: center;
    padding: 30px 0 0 10px;
    margin: 2px;
}

#breakfast {
    background: url(../images/breakfast-club.jpg);
    height: 500px;
    width: 30%;
    zoom: 90%;
    color: #000;
    text-align: center; 
}

#breakfast h2 {
    color: #000;
    text-align: center;
}

#programmes {
   background: url(../images/learner-programmes.jpg);
   height: 500px;
   width: 30%;
   zoom: 90%;
   color: #000;
   text-align: center;
}

#programmes h2 {
    color: #000;
    text-align: center;
}

#food {
    background-image: url(../images/food-bank.jpg);
    height: 500px;
    width: 30%;
    zoom: 90%;
    color: #fafafa;
    text-align: center;
}

#food h2 {
    color: #fafafa;
    text-align: center;
}

#extra-curricular {
    background-image: url(../images/after-school-club.jpg);
    height: 500px;
    width: 30%;
    zoom: 90%;
    color: #000;
    text-align: center;
}

#extra-curricular h2 {
    color: #000;
    text-align: center;
}

#library {
    background-image:  url(../images/library.jpg);
    height: 500px;
    width: 30%;
    zoom: 90%;
    color: #C9A9A6;
    text-align: left;
}

#library h2 {
    color: #C9A9A6;
    text-align: left;
}

/* Gallery Photos */

.container {
    text-align: left;
    padding: 15px 0 0 5px;
    background-position: center;
    display: flex; 
    max-width: 540px; 
    border: 1px solid #fafafa;
    box-sizing: border-box; 
}

#gallery {
        clear: none;
        height: 600px;
        width: 40%;
        position: static;
        background-position: center;
        text-align: justify;
        padding: 0;
        margin: auto;
   }

/* Footer */

footer{
    height: 600px;
    margin-top: 600px;
    position: sticky;
}

.social-networks{
    text-align: center;
}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 200%;
    margin: auto 0;
    padding: 5%;
    color: #3a3a3a;
    position: static;
}

/* Form */

.form-section {
    background: url("https://lh5.googleusercontent.com/6OsIh-DMKAi60wI1ONlk6miUE3or_EQD24iX2bB-DzEAHYs1OlI_nzfj3XJ4WxhKQzc=w2400");
    background-size: cover;
    background-position: center;
    background-color: #fafafa;
    clear: left;
    height: 900px; 
    color: #000;
}

/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px){
    
    #library-ethos{
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin-top: 0;
    }

    #left-about, #right-about {
        width:100%;
        float:left;
        padding: 0;
    }

    #center-about{
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #events div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px){

    #menu{
        clear: left;
        float: left;
        margin-left: 30px; 
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text{
        left:0px;
    }

    #library-ethos{
        width:90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading{
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2{
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p{
        text-align: center;
        padding: 0 20px 0 20px;
    }

    
}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px){
    
}

.signup-form {
   margin-top: 150px;
   color: #000;
   background-color: #fafafa;
   max-width: 400px;
   position:absolute;
   left: 10%;
   padding: 30px;
}

.signup-form h2 {
    color: #000;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #000;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #000;
    border-radius: 2px;
}

.text-input:hover{
    border-color:#C9A9A6;
}

.join-button{
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #C9A9A6;
    color: #000;
    display: block;
}

.join-button:hover{
    background-color: #fafafa;
    color: #C9A9A6;
}
